@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .no-scroll {
    @apply overflow-hidden;
  }
}
.hero-img {
  background-image: url("/images/hero-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
